In [1]:
#Import libraries and set notebook settings 
import pandas as pd
import numpy as np

In [2]:
#read-in data
path= "/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/C++/HeartDiseaseClassifier/"
raw_df= pd.read_csv(path + "data/raw_data.csv")

### About the data

In [3]:
display(raw_df.shape)
raw_df.head()

(1025, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

### Data Cleaning

In [4]:
#Copy raw_df
clean_df = raw_df.copy()

In [5]:
#Update data types from int64 to object
discrete = ["sex", "cp", "fbs", "restecg", "exang", "slope",
            "ca", "thal", "target", ]

for col in discrete:
    clean_df[col] = clean_df[col].astype("object")

In [6]:
#Encode Variables
for col in discrete:
    if clean_df[col].nunique() <=2:
        pass
    else:
        one_hot = pd.get_dummies(clean_df[col], prefix= [col])
        clean_df= clean_df.drop(col, axis= 1)
        clean_df= pd.concat([clean_df,one_hot], axis = 1)

clean_df.head();

/Users/ksharma/miniforge3/envs/PyTorch/lib/python3.8/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)
/Users/ksharma/miniforge3/envs/PyTorch/lib/python3.8/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)
/Users/ksharma/miniforge3/envs/PyTorch/lib/python3.8/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)
/Users/ksharma/miniforge3/envs/PyTorch/lib/python3.8/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)
/Users/ksharma/miniforge3/envs/PyTorch/lib/python3.8/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [7]:
#Shuffle data
from sklearn.utils import shuffle
clean_df = shuffle(clean_df, random_state= 24, )
clean_df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,['cp']_0,...,['slope']_2,['ca']_0,['ca']_1,['ca']_2,['ca']_3,['ca']_4,['thal']_0,['thal']_1,['thal']_2,['thal']_3
642,64,1,128,263,0,105,1,0.2,1,1,...,0,0,1,0,0,0,0,0,0,1
628,69,0,140,239,0,151,0,1.8,1,0,...,1,0,0,1,0,0,0,0,1,0
392,51,1,110,175,0,123,0,0.6,1,0,...,1,1,0,0,0,0,0,0,1,0
37,59,1,138,271,0,182,0,0.0,1,1,...,1,1,0,0,0,0,0,0,1,0
54,55,1,140,217,0,111,1,5.6,0,1,...,0,1,0,0,0,0,0,0,0,1

In [8]:
#Write clean_df to machine
path= "/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/C++/HeartDiseaseClassifier/data/"
clean_df.to_csv(path + "clean_data.csv", index=False)